<app-sabw-caesar></app-sabw-caesar>
    <h1>Primzahlen</h1>
    <p>Primzahlen sind Zahlen mit genau 2 Teilern.<br/> Sich selber und 1.</p>
    <h2>Primzahlen von 0 bis 10</h2>
    <ul>
      <li>2</li>
      <li><em>3</em></li>
      <li><u>5</u></li>
      <li><strong>7</strong></li>
      <li id="boi">9</li>  
    </ul>
    <h2>Primzahlen gr&ouml;&szlig;er als 10</h2>
    <p>Es gibt unendlich viele Primzahlen.</p>
    <h2>Primfaktorzerlegung</h2>
    <p>Alle Zahlen lassen sich als Produkt von Primzahlen aufschreiben.<br/>Die Faktoren sind ausschlie&szlig;lich Primzahlen, hei&szlig;en deshalb auch Primfaktoren der Zahl.</p>
    